/* src/App.css */

/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.input {
  margin-bottom: 1em;
  font-size: 2em;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 1em;
}

button {
  padding: 1em;
  font-size: 1em;
}

.operator {
  background-color: orange;
  color: white;
}

.wide-button {
  grid-column: span 3;
  background-color: darkgray;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: white;
  }

  .operator {
    background-color: orange;
  }

  button {
    background-color: #333;
    color: white;
    border: 1px solid #666;
  }

  .wide-button {
    background-color: #444;
  }
}